<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    {% include 'includeCSS.html' %}
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'topBarView.html' %}
    {% include 'menuView.html' %}
    {% include 'contentView.html' %}

</head>

<body>

    <div id="topBarView"></div>
    <div id="menuView"></div>
    <div id="contentView"></div>


    {% include 'includeJS.html' %}
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="{% static 'js/sicap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/topBarView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/menuView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/contentView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/dashboardView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/frentesView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/frenteView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views/frenteDetailsView.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models/frente.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models/modelUtil.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models/viewUtil.js' %}"></script>


    <script type="text/javascript">
        $(function () {
          var sicap = new Sicap();
          console.log(sicap);
        });
    </script>

</body>

</html>
