<script type="text/html" id='menuViewTemplate'>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a id="dashboardMenuLink" class="menuLink" style="cursor:pointer;"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a id="MenuLink" class="menuLink" style="cursor:pointer;"><i class="fa fa-fw fa-bar-chart-o"></i> Parlamentares</a>
            </li>
            <li>
                <a id="MenuLink" class="menuLink" style="cursor:pointer;"><i class="fa fa-fw fa-bar-chart-o"></i> Comissoes   </a>
            </li>
           <li>
                <a id="frentesMenuLink" class="menuLink" style="cursor:pointer;"><i class="fa fa-fw fa-bar-chart-o"></i> Frentes   </a>
            </li>
        </ul>
    </div>
</script>